aside{
	float: left;
	size: 240px calc(80px+48px*3+336px);
	background-color: #374050;
	/*min-height: calc(80px+48px*3+336px);*/
	min-height: 100vh;
	.logo{
		size: 100% 80px;
		background: #F2F6FA;
		display: flex;
	    justify-content: center;
	    align-items: center;
	    /*position: relative;*/
		border-bottom: 1px solid #9CA8B4;
		border-right: 1px solid #9CA8B4;
	  /*  &:after{
	    	content: "";
	    	size: 100% 1px;
	    	position: absolute;
	    	bottom: 0;
	    	left: 0;
	    	background-color: #9CA8B4;
	    }*/
	}
	nav{
		color: #9CA8B4;
		font-size: 1.4rem;
		ul{
			list-style-type: none;
			padding-left: 0;
			margin: 0;
			li{
				/*size: 100% 48px;*/
				width: 100%;
				min-height: 48px;
				background-position: 16px center;
				background-repeat: no-repeat;
				background-size: 20px;
				a{
					size: 100%;
					display: block;
					padding-left: 4.4rem;
					background-position: 16px center;
					background-repeat: no-repeat;
					background-size: 20px;
					line-height: 4.8rem;
					cursor: pointer;
					transition: background-color 0.3s ease-out;
					&:hover{
						transition: background-color 0.3s ease-in;
						background-color: #1F2633;
					}
				}
				&:nth-child(1){
					label{
						background-image: url("../images/nav_icon1_g.svg");
					}
				}
				&:nth-child(2){
					a{
						background-image: url("../images/nav_icon2.svg");
					}
				}
				&:nth-child(3){
					a{
						background-image: url("../images/nav_icon3.svg");
					}
				}
			}
		}
		.dropdown{
			ul{
				max-height: 0;
				transition: max-height 0.5s ease-out;
				overflow: hidden;
				li{
					padding-top: 1px;
					a{
						background-color: #1F2633;
						position: relative;
						/*height: 47px;*/
						/*top: -1px;*/
						/*margin-bottom: 1px;*/
						/*margin-top: 1px;*/
						background-position: 40px;
						line-height: 4.7rem;
						padding-left: 68px;
						&:hover{
							background-color: #F2F6FA;
							color: #374050;
						}

					}
					&.active{
						a{
							background-color: #F2F6FA;
							color: #374050;
						}
					}
					&:nth-child(1){
						a{
							background-image: url("../images/nav_icon1.1.svg");
						}
					}
					&:nth-child(2){
						a{
							background-image: url("../images/nav_icon1.2.svg");
						}
					}
					&:nth-child(3){
						a{
							background-image: url("../images/nav_icon1.3.svg");
						}
					}
					&:nth-child(4){
						a{
							background-image: url("../images/nav_icon1.4.svg");
						}
					}
					&:nth-child(5){
						a{
							background-image: url("../images/nav_icon1.5.svg");
						}
					}
					&:nth-child(6){
						a{
							background-image: url("../images/nav_icon1.6.svg");
						}
					}
					&:nth-child(7){
						a{
							background-image: url("../images/nav_icon1.7.svg");
						}
					}
				}
			}
			label{
				padding-left: 4.4rem;
				size: 100% 48px;
				cursor: pointer;
				line-height: 4.8rem;
				background-position: 16px center;
				background-repeat: no-repeat;
				background-size: 20px;
				display: block;
				transition: background-color 0.3s ease-out;
				&:hover{
					background-color: #1F2633;
				}
			}
			input{
				display: none;
				&:checked{
					& ~ label{
						background-image: url("../images/nav_icon1.svg");
						background-color: #1F2633;
						transition: background-color 0.5s ease-in;
						/*border-left: 3px solid #FF2600;*/
						/*outline: 3px solid #FF2600;*/
						position: relative;
						/*height: 47px;*/
						/*top: -1px;*/
						/*margin-bottom: 1px;*/
						&::before{
							content: "";
							position: absolute;
							size: 3px 100%;
							left: 0;
							top: 0;
							background-color: #FF2600;
						}
					}
					& ~ ul{
						max-height: 336px;
						transition: max-height 0.5s ease-in;
						a{
						}
					}
				}
			}

		}
	}
}