doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')
    title PinERP
    meta(name='description', content='')
    meta(name='keywords', content='')
    link(rel='shortcut icon' href='../favicon/fav.png' type='image/png')
    link(rel='apple-touch-icon' href='../favicon/fav.png')
    link(rel='stylesheet' href='../css/style.css') 
  body
    aside
        .logo
            img(src="../images/logo.svg" alt="logo")
        nav
            ul
                li.dropdown
                    input(type="checkbox" id="menu_dropdown")
                    label(for="menu_dropdown") Основное
                    ul
                        li 
                            a(href="#") Сотрудники
                        li 
                            a(href="#") Роли
                        li 
                            a(href="#") Группы
                        li 
                            a(href="/messages/") Сообщения
                        li 
                            a(href="#") Логи
                        li 
                            a(href="#") Магазин модулей
                        li 
                            a(href="#") Настройки
                li 
                    a(href="#") PinPBX (управление ATC)
                li 
                    a(href="#") Оборудование
    main
        header
        section
    script(type='text/javascript' src='../js/jquery.js')
    script(type='text/javascript' src='../js/jquery.inputmask.js')
    script(type='text/javascript' src='../js/app.js')